{% extends 'base/base.html' %}

{% block title %} Hello World {% endblock title%}

{% block content %}
    {% include 'base/navbar.html' %}
    {% include 'blog/components/splash.html' %}

    <div class="container pt-5">
        <div class="row">
            <div class="col-12 col-lg-8">

                {% include 'blog/components/post-list-elements.html' %}

            </div>
            <div class="d-none d-lg-block col-lg-4">

                {% sidebar_tag_cloud %}
                {% include 'base/footer.html' %}

            </div>
        </div>
    </div>

{% endblock content %}
